<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">

    <AuCard @standOut="true" as |card|>
      <card.header>
        <AuHeading @level="2" @skin="4">
          {{@model.name}}
        </AuHeading>
        {{@model.isNeerslagVan.name}}
      </card.header>
      <card.content>
        <ul>
          <li>Openingsdatum: {{@model.isNeerslagVan.openingDate}}</li>
          <li>Sluitingsdatum: {{@model.isNeerslagVan.closingDate}}</li>
        </ul>
      </card.content>
    </AuCard>
    <AuButton {{on "click" this.approve}}>Goedkeuren</AuButton>
  </div>
</div>