<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <AuCard @standOut="true" as |card|>
      <card.header>
        <AuHeading @level="2" @skin="4">
          {{@model.dossier.name}}
        </AuHeading>
        {{@model.zaak.name}}
      </card.header>
      <card.content>
        <ul>
          <li>Status: {{@model.zaak.procedurestap.name}}</li>
          <li>Openingsdatum: {{date-format @model.zaak.openingDate}}</li>
          <li>Sluitingsdatum: {{date-format @model.zaak.closingDate}}</li>
        </ul>
      </card.content>
    </AuCard>

    <AuCard @standOut="true" as |card|>
      <card.header>
        <AuHeading @level="2" @skin="4">
          {{@model.dossier.aanvraag.name}}
        </AuHeading>
      </card.header>
      <card.content>
        Placeholder
      </card.content>
    </AuCard>

    <AuButton {{on "click" this.backToOpen}}>Reset</AuButton>
    <AuButton {{on "click" this.startProcessing}}>Start dossier</AuButton>
    <AuButton {{on "click" this.approve}}>Goedkeuren</AuButton>
  </div>
</div>