<AuDataTable @content={{@model}} as |t|>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="event.name"
        @currentSorting={{this.sort}}
        @label="Naam"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="event.organizedBy.name"
        @currentSorting={{this.sort}}
        @label="Organisatie"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="event.date"
        @currentSorting={{this.sort}}
        @label="Datum"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="event.status"
        @currentSorting={{this.sort}}
        @label="Status"
      />
    </c.header>
    <c.body as |event|>
      <td>
        <AuLink @route="events.event" @model={{event.id}}>
          {{event.name}}
        </AuLink>
      </td>
      <td>
        {{event.organizedBy.name}}
      </td>
      <td>
        {{event.date}}
      </td>
      <td>
        <AuPill @skin="warning">Open</AuPill>
      </td>
    </c.body>
  </t.content>
</AuDataTable>