<AuDataTable @content={{@model}} as |t|>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="dossier.name"
        @currentSorting={{this.sort}}
        @label="Naam"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="dossier.organizedBy.name"
        @currentSorting={{this.sort}}
        @label="Organisatie"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="dossier.date"
        @currentSorting={{this.sort}}
        @label="Datum"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="dossier.status"
        @currentSorting={{this.sort}}
        @label="Status"
      />
    </c.header>
    <c.body as |dossier|>
      <td>
        <AuLink @route="dossiers.dossier" @model={{dossier.id}}>
          {{dossier.name}}
        </AuLink>
      </td>
      <td>
        {{dossier.organizedBy.name}}
      </td>
      <td>
        {{dossier.date}}
      </td>
      <td>
        <AuPill @skin="warning">Open</AuPill>
      </td>
    </c.body>
  </t.content>
</AuDataTable>