<AuDataTable @content={{@model}} as |t|>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="dossier.name"
        @currentSorting={{this.sort}}
        @label="Dossier"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="dossier.isNeerslagVan.name"
        @currentSorting={{this.sort}}
        @label="Zaak"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="dossier.isNeerslagVan.openingDate"
        @currentSorting={{this.sort}}
        @label="Openingsdatum"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="dossier.isNeerslagVan.closingDate"
        @currentSorting={{this.sort}}
        @label="Sluitingsdatum"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="dossier.isNeerslagVan.procedurestap.name"
        @currentSorting={{this.sort}}
        @label="Status"
      />
    </c.header>
    <c.body as |dossier|>
      <td>
        <AuLink @route="dossiers.dossier" @model={{dossier.id}}>
          {{dossier.name}}
        </AuLink>
      </td>
      <td>
        {{dossier.isNeerslagVan.name}}
      </td>
      <td>
        {{date-format dossier.isNeerslagVan.openingDate}}
      </td>
      <td>
        {{date-format dossier.isNeerslagVan.closingDate}}
      </td>
      <td>
        {{#if dossier.isNeerslagVan.procedurestap.isApproved}}
          <AuPill
            @skin="success"
          >{{dossier.isNeerslagVan.procedurestap.name}}</AuPill>
        {{else}}
          {{#if dossier.isNeerslagVan.procedurestap.isBeingProcessed}}
            <AuPill
              @skin="warning"
            >{{dossier.isNeerslagVan.procedurestap.name}}</AuPill>
          {{else}}
            <AuPill
              @skin="default"
            >{{dossier.isNeerslagVan.procedurestap.name}}</AuPill>
          {{/if}}
        {{/if}}
      </td>
    </c.body>
  </t.content>
</AuDataTable>